/* build time:Thu Apr 08 2021 20:08:24 GMT+0800 (GMT+08:00)*/
@charset "UTF-8";@font-face{font-family:ZhenHunNvHai-2;src:url(../font/ZhenHunNvHai-2/ZhenHunNvHai-2.ttf) format("truetype");font-weight:400;font-style:normal}.sp_font{font-family:ZhenHunNvHai-2;font-size:1.5rem}
/* rebuild by neat */